<div class="header">
  <h1 class="firmenname"> Schuhe GmbH  Firmenname </h1>
  <button class="warenkorb" (click)="einkaufswaagen()">Warenkorb</button>
</div>

<h1> Unser Schuhangebot</h1>
<div class="produkte">
<div class="produkt">
  <div class="produktansicht">
  <img class="produktbild" src={{imgsrc}}>
  </div>
<div class="produktinfo">
  <h2 class="produktueberschrift">{{produktname}}</h2>
  <p class="produktkurztext"> {{produkttext}}</p>
  <h3>{{produktpreis}} {{waehrung}}</h3>
  <button (click)="inEinkaufswaagen(produktname,produktpreis,imgsrc)">In den Warenkorb</button>
</div>
</div>
<div class="produkt">
  <div class="produktansicht">
  <img class="produktbild" src={{imgsrc}}>
  </div>
<div class="produktinfo">
  <h2 class="produktueberschrift">{{produktname}}</h2>
  <p class="produktkurztext"> {{produkttext}}</p>
  <h3>{{produktpreis}} {{waehrung}}</h3>
  <button (click)="inEinkaufswaagen(produktname,produktpreis,imgsrc)">In den Warenkorb</button>
</div>
</div>
<div class="produkt">
  <div class="produktansicht">
  <img class="produktbild" src={{imgsrc}}>
  </div>
<div class="produktinfo">
  <h2 class="produktueberschrift">{{produktname}}</h2>
  <p class="produktkurztext"> {{produkttext}}</p>
  <h3>{{produktpreis}} {{waehrung}}</h3>
  <button (click)="inEinkaufswaagen(produktname,produktpreis,imgsrc)">In den Warenkorb</button>
</div>
</div>
<div class="produkt">
  <div class="produktansicht">
  <img class="produktbild" src={{imgsrc}}>
  </div>
<div class="produktinfo">
  <h2 class="produktueberschrift">{{produktname}}</h2>
  <p class="produktkurztext"> {{produkttext}}</p>
  <h3>{{produktpreis}} {{waehrung}}</h3>
  <button (click)="inEinkaufswaagen(produktname,produktpreis,imgsrc)">In den Warenkorb</button>
</div>
</div>
<div class="produkt">
  <div class="produktansicht">
  <img class="produktbild" src={{imgsrc}}>
  </div>
<div class="produktinfo">
  <h2 class="produktueberschrift">{{produktname}}</h2>
  <p class="produktkurztext"> {{produkttext}}</p>
  <h3>{{produktpreis}} {{waehrung}}</h3>
  <button (click)="inEinkaufswaagen(produktname,produktpreis,imgsrc)">In den Warenkorb</button>
</div>
</div>

</div>
